name: Code Style

on:
  pull_request:
    branches: [ 'main', 'release-*' ]

jobs:
  read_config:
    runs-on: ubuntu-latest
    outputs:
      use-style: ${{ steps.config.outputs.use-style }}
      use-blah: ${{ steps.config.outputs.use-blah }}
    steps:
    - uses: actions/checkout@v3
    - id: config
      run: |
        echo "::set-output name=use-style::$(yq '.use-style' .github/workflows/config.yaml 2>>/dev/null|| echo true)"
        echo "::set-output name=use-blah::$(yq '.use-blah' .github/workflows/config.yaml 2>>/dev/null|| echo true)"

  style:
      needs: read_config
      if: ${{needs.read_config.outputs.use-blah == 'true'}}
      uses: knative/actions/.github/workflows/style.yaml@main
